
@media only screen and (max-width:780px) {
	h1{
		font-size: 2em!important;
	}

	#bigcarousel .carousel-inner .carousel-item h3{
	font-size: 3em!important;	
	}


#bigcarousel .carousel-inner .carousel-item p{
	font-size: 0.9em!important;
}
.about .about-img{

	text-align: center;
	overflow: hidden;
	border-radius: var(--b-radius);
}
.about .about-img img{
	width: 200px!important;	
}
.authors-section .author{
	margin-bottom: 50px;
}

.post-section .post .post-info{
	color: white;
	position: absolute;
	text-align: center;
	width: 50%;
	background-color: var(--blue);
	height: 40px!important;
	border-radius: 40px!important;
	line-height: 40px!important;
	font-size: 1em!important;
	margin: -20px 23%!important;
	
}

}
/*780px Media Query*/